{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="styles/index.css" />
{% endblock %}

{% block content %}
    <div id="channel-grid">
    {% for page in pages %}
        <div class="channel">
            <div class="channel-category">// Placeholder</div>
            <div class="channel-title">{{ page.title }}</div>
            <div class="channel-tags">tag1, tag2, tag3</div>
        </div>
    {% endfor %}
    {% for i in range(12 - pages|count) %}
        <div class="channel empty"></div>
    {% endfor %}
    </div>

    <div id="menu-bar">
        <h1>Home Menu</h1>
        <div id="menu-bar-center-border">
            <div id="menu-bar-center"></div>
        </div>
        <div id="menu-bar-left-border" class="menu-bar-wing-border">
            <div id="menu-bar-left" class="menu-bar-wing">
                <div class="menu-bar-button">
                    <div class="menu-bar-button-icon">⚙️</div>
                </div>
            </div>
        </div>
        <div id="menu-bar-right-border" class="menu-bar-wing-border">
            <div id="menu-bar-right" class="menu-bar-wing">
                <div class="menu-bar-button">
                    <div class="menu-bar-button-icon">🔎</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
