{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/styles/index.css" />
    <script src="/scripts/index.js"></script>
{% endblock %}

{% block content %}
    <div class="channel-viewport">
        <div class="channel-arrow left" onclick="prevChannelPage()"></div>
        <div class="channel-arrow right" onclick="nextChannelPage()"></div>
        <div class="channel-ribbon">
        {% for i in range(0, pages|count, 12) %}
            <div class="channel-grid">
            {% for j in range(i, i + 12) %}
                {% if j < pages|count %}
                    {% set page = pages[j] %}
                    {% set meta = page.metadata %}
                    <div class="channel">
                        <div class="channel-category">// {{ meta.category }}</div>
                        <div class="channel-title">{{ meta.title }}</div>
                        <div class="channel-date">{{ meta.date }} | {{ page.mtime|timestamp_to_date }}</div>
                        <div class="channel-abstract">{{ meta.abstract }}</div>
                        <a class="channel-link" href="/{{ page.default_url }}"></a>
                    </div>
                {% else %}
                    <div class="channel empty"></div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>

    <div id="menu-bar">
        <h1>Home Menu</h1>
        <div id="menu-bar-center-border">
            <div id="menu-bar-center"></div>
        </div>
        <div id="menu-bar-left-border" class="menu-bar-wing-border">
            <div id="menu-bar-left" class="menu-bar-wing">
                <div class="menu-bar-button">
                    <div class="menu-bar-button-icon">⚙️</div>
                </div>
            </div>
        </div>
        <div id="menu-bar-right-border" class="menu-bar-wing-border">
            <div id="menu-bar-right" class="menu-bar-wing">
                <div class="menu-bar-button">
                    <div class="menu-bar-button-icon">🔎</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
