{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="styles/page.css" />
    <link rel="stylesheet" href="styles/highlight.min.css">
    <script src="scripts/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
    <nav class="top-nav">
    {% for view in views %}
        <button class="nav-tab" data-target="page">{{ view.name }}</button>
    {% endfor %}
    </nav>

    {{ content }}

    <div id="home-button" class="ui-button">
        🏠
        <a href="index.html"></a>
    </div>
{% endblock %}
