{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/styles/page.css" />

    <link rel="stylesheet" href="/styles/highlight.min.css">
    <script src="/scripts/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
    <nav class="top-nav">
        <div class="nav-item title">{{ title }}</div>
        <div class="nav-item tabs">
        {% for view in page.views %}
            <a id="tab-{{ view.id }}" class="tab" href="">{{ view.name }}</a>
        {% endfor %}
        </div>
    </nav>

    <div class="view">
        {{ view.content }}
    </div>

    <div id="home-button" class="ui-button">
        🏠
        <a href="/"></a>
    </div>
{% endblock %}
