{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/styles/page.css" />
    <script src="/scripts/page.js"></script>

    <link rel="stylesheet" href="/styles/highlight.min.css">
    <script src="/scripts/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
    <nav class="top-nav">
        <div class="nav-item title">{{ page.title }}</div>
        <div class="nav-item tabs">
        {% for v in page.views %}
            <a id="tab-{{ v.id }}" class="tab {{ 'active' if v == view }}" href="/{{ v.url }}">{{ v.name }}</a>
        {% endfor %}
        </div>
    </nav>

    <div class="view">
        {% block view %}
        {% endblock %}
    </div>

    <div id="home-button" class="ui-button">
        🏠
        <a href="/"></a>
    </div>
{% endblock %}
